<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1">
          PAS Vision
        </h1>
        <p class="subtitle is-size-4">
          Capacitando Estudantes com Machine Learning Insights
        </p>
        <p class="is-size-5" style="text-align: justify;">
          Explore cenários diversos e simule diferentes combinações de dados para obter as possibilidades de aprovação, por meio de uma interface intuitiva.
          <br>
          Para prosseguir com o PAS Vision, é necessário efetuar apenas um pagamento único. Após a confirmação bem-sucedida desse pagamento, você terá acesso contínuo à aplicação, podendo utilizá-la quantas vezes desejar.
          <br>
          Agradecemos a sua escolha e estamos comprometidos em proporcionar uma experiência satisfatória e sem complicações em nossa plataforma.
        </p>
        <button class="button is-primary is-large" id="submitBtn">
          Try it Now
        </button>
      </div>
    </div>
  </section>
{% endblock %}
