<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1">
          PAS Vision
        </h1>
        <p class="subtitle is-size-4">
          Capacitando Estudantes com Machine Learning Insights
        </p>
        <figure class="image" style="width: 64px; height: 64px; margin: 0 auto;">
          <img src="{{ url_for('static', filename='PAS.png') }}" alt="Machine Learning Image">
        </figure>
        <p class="is-size-5" style="text-align: justify;">
          O PAS Vision é uma ferramenta que utiliza o poder do XGBoost, um avançado modelo de aprendizado de máquina, para prever a probabilidade de aprovação no Programa de Avaliação Seriada (PAS), para ingresso na Universidade de Brasília, dado o conjunto de dados das notas nas três etapas do vestibular, se é elegível a alguma cota (ação afirmativa) e a escolha do curso desejado.
          <br>
          Ao inserir seus dados, além de obter a estimativa da probabilidade de aprovação, você também terá acesso a estatísticas de desempenho dos candidatos aprovados que não se enquadram na categoria de cotistas para o curso escolhido. Essas informações proporcionam uma visão detalhada do histórico de sucesso de estudantes, fornecendo uma compreensão mais completa do cenário competitivo do curso.
          <br>
          Explore cenários diversos e simule diferentes combinações de dados para obter as possibilidades de aprovação, por meio de uma interface intuitiva.
        </p>
        <button class="button is-primary is-large" id="submitBtn">
          Try It Now
        </button>
      </div>
    </div>
  </section>
{% endblock %}
